.locations-page-container {
  
    //width: 100%;
   // background-color: red;
  .locations-page-content .row{
    margin: 2.5% 0; 
  }
 
  .address-col {
    padding-bottom: 2.5%;

    h3 {
      
      float: left;
    }
  }

  .map-col {

    iframe {
      width:  100%;
      height: auto;
    }

   // background-color: salmon;
  
  }
}