/*************** NAVIGATION ***************/
.navbar {
  height: 120px;
  margin-bottom: 0;
  background-color: #fff;
  z-index: 99999;

  #myNavbar {
    background-color: #fff;
  }

  .navbar-nav>li>a {
    margin-top: 35px;
  }

  .navbar-brand {
    padding: 10px 0;

    img {
      max-height: 100px;
    }
  }
}

.navbar-default {
  border: none;
}

.dropdown {
  position: relative;
}

.navbar-right {
  .dropdown-menu {
    right: auto;
    text-align: left;
    min-width: 0;
    border: none;
    box-shadow: none;
    position: absolute;
  }

  .dropdown-menu a {
    color: #777;
  }

  .dropdown-menu  a:hover {
    color: #333;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;

  a {
    background-color: #fff;
  }
}


/*************** CAROUSEL ***************/


#main-carousel {
  .carousel-inner {
    height: 500px;
    .item {
      height: 500px;
    }
    img {
      height: 100%; /* Make sure images are scaled correctly. */
      width: 100%; /* Adhere to container width. */      
      object-fit: cover;
    }
  }
}

#services-carousel.carousel-fade {
  .item.active {
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
  }
}


/*************** DEFAULT PAGE ***************/
.default-page-container {
  min-height: 100%;
}


/*************** FRONT PAGE NEWS SECTION ***************/

.news-section {
  background-color: #F2F2F2;

  h1, .services-sidebar-wrap h1 {
    display: inline;
    font-size: 2em;
    border-top: 5px solid #3D9970;
    border-bottom: 2px solid #3D9970;
  }
}

.front-page-news {
  
  background-color: #fff;
  border: 1px solid #dadada;
  padding: 0;

  .post-text-wrap {
    padding: 20px 15px;
  }

  h2{
    color: #000;
  }

  .post-img {

    img {
      width: 100%;
      max-height: 240px;
      object-fit: cover;
    }
  }

  .post-content {
    margin-top: 20px;
    line-height: 1.8em;
    color: #3d3d3d;
  }

  .read-full-post  {
    margin-top: 5%;
    a {
      color: #E9E9E9;
      background-color: #0e243c;
      padding: 10px 15px;
      border: 1px solid black;
    }
  }
}


.services-sidebar-wrap {
  .services-flex-wrap {
    width: 100%;
  }

  img {
    width: 100%;
    height: 706px;
  }
}


/*************** FRONT PAGE STATS SECTION ***************/


.stat-section {
  width: 100%;
  height: 100%;
  position: relative;
  background: url('./layout/images/stat-background.jpg') center fixed no-repeat;
  background-size: cover;
  color: #f2f2f2;
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .5; 
  }

  .stat-title {
    text-align: center;
    text-transform: uppercase;

    h2 {
      font-weight: 700;
    }
  }
}


/*************** FRONT PAGE TEAM MEMBERS SECTION ***************/

.team-section {
   background: url('./layout/images/pattern.png') repeat;

  .intro-header {
    margin-bottom: 5%;
    p {
      margin-top: 5%;
    }
  }

  .row {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section-member {
    width: 20%;
  
    img {
      width: 100%;
      display: block;
      object-fit: cover;
    }

    .member-box {
      background-color: #fff;
      color: #000;
      padding: 15px 0;

      .section-member-name, .member-name {
        font-size: 20px;
        margin-bottom: 5%;
      } 

      .member-name {
        font-size: 1em;
      }

      .section-member-training {
        font-size: 0.9em;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    
  }

  .meet-our-team-more {
    margin-top: 5%;

    a {
      padding: 10px 10px;
      border: 1px solid black;
    }
  }
}

