
.news-page-container {

  .post-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .post-date {
    margin: 2.5% 0;
    color: $green-text;
    text-transform: uppercase;
  }

  .post-title a{
    color: #000;
    font-size: 0.9em;
    text-transform: capitalize;
    font-weight: bold;
  }

  .post-excerpt {
    margin: 2.5% 0;
    color: $post-text;
  }
  
  .post-footer {
    margin-bottom: 7.5%;
    width: 100%;

    span:first-of-type {
      margin-right: 2.5%;
      color: $post-text;
    }

    span:nth-of-type(2) {
      font-style: italic;
      color: $green-text;
    }

    span:nth-of-type(3) {
      font-style: italic;
      padding-left: 5px;
    }
    
    a {
      color: $post-text;

      &:nth-of-type(2) {
       float: right;
       text-transform: uppercase;
       font-weight: bold;
       color: $green-text;
       border-bottom: 2px solid $green-text;
      }
    } 
  }

  .posts-pag {
    font-size: 18px;

    a {
      color: #000;

      &.prev.page-numbers:before {
        content: '<\00a0\00a0\00a0';
      }

      &.next.page-numbers:after {
        content: '\00a0\00a0\00a0>';
      }
    }

    a.page-numbers {
     padding: 0 5px; 
    }

    .current {
      font-weight: bold;
      color: $green-text;
      border-bottom: 2px solid $green-text;
    }
  }
}