/*************** INDIVIDUAL DOCTOR PAGE ***************/

.doctors-page-container {

  .doctor-name-header {
    margin: 2.5% 0;
    text-align: center;
    font-size: 1.68rem;
    color: #000;
  }

  figure {
    display: flex;
  }

  .doctor-profile-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .doctor-bio p {
    line-height: 19px;
    margin: 15px 0;
    font-size: 0.9rem;
  }
}