/*************** INDIVIDUAL DOCTOR PAGE ***************/

.doctors-page-container {
  
  figure {
    background-color: red;
  }

  .doctor-name-header {
    text-align: center;
    font-size: 1.68rem;
    color: #000;
  }

  .doctor-profile-image {
    
  }

  .doctor-name-header {
    margin: 20px 0;
  }

  .doctor-bio p {
    margin: 15px 0;
    font-size: 0.9rem;
  }
}