/*************** FULL TEAM MEMBERS SECTION ***************/

.team-page-container {

  .members-grid-wrapper{
    
    .single-member {
      padding: 10px; 
      // border: 1px solid darkgrey;
      img {
        width: 100%;
        max-height: 375px;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
  }
}