/*************** NAVIGATION ***************/
.navbar {
  height: 120px;
  margin-bottom: 0;
  background-color: #fff;
  z-index: 99999;

  #myNavbar {
    background-color: #fff;
  }

  .navbar-nav>li>a {
    margin-top: 35px;
  }

  .navbar-brand {
    padding: 10px 0;

    img {
      max-height: 100px;
    }
  }
}

.navbar-default {
  border: none;

  .navbar-nav .active a, .navbar-nav .active a:hover,
  .navbar-nav .active a:focus {
    background-color: transparent;
    color: #2d3435;
    border-bottom: 1px solid red;
    padding: 15px 0;
    margin: 35px 15px 0;
  }
}

/*************** CAROUSEL ***************/


#carousel {
  height: 500px;
  // max-height: 500px;
  .carousel-inner {
    height: 500px;
    img {
      width: 100%;
      min-height: 250px;      
      object-fit: cover;
    }
  }
}


/*************** DEFAULT PAGE ***************/
.default-page-container {
  min-height: 100%;
}


/*************** FRONT PAGE NEWS SECTION ***************/

.news-section {

  background-color: #fff;
  border-bottom: 3px solid #3D9970;

  h1, .services-sidebar-wrap h1 {
    display: inline;
    font-size: 2em;
    border-top: 5px solid #3D9970;
    border-bottom: 2px solid #3D9970;
  }
}

.front-page-news {
  max-height: 706px;
}

.front-page-news, .single-post-wrap {

  .post-img {
    margin: 20px 0;

    img {
      width: 100%;
      max-height: 240px;
      object-fit: contain;
    }
  }

  .post-content {
    margin-top: 20px;
    line-height: 1.8em;
  }

  .read-full-post,  {
    margin-top: 5%;

    a{
      padding: 10px 10px;
      border: 1px solid black;
    }
  }
}


.services-sidebar-wrap {

  .services-flex-wrap {
    margin-top: 20px;
    width: 100%;
  }

  img {
    width: 100%;
    height: 706px;
  }
}




/*************** FRONT PAGE TEAM MEMBERS SECTION ***************/

.team-section {
  background-color: #fff;

  .intro-header {
    margin-bottom: 5%;
    p {
      margin-top: 5%;
    }
  }

  .row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section-member {
    width: 20%;

    img {
      width: 100%;
      display: block;
      max-height: 375px;
      -o-object-fit: cover;
      object-fit: cover;
    }
    
  }

  .meet-our-team-more {
    margin-top: 5%;

    a {
      padding: 10px 10px;
      border: 1px solid black;
    }
  }
}

.member-box {
  background-color: #fff;
  color: #000;
  padding: 15px 0;

  .section-member-name, .member-name {
    font-size: 20px;
    margin-bottom: 5%;
  } 

  .member-name {
    font-size: 1em;
  }

  .member-training {
    font-size: 0.9em;
    white-space: nowrap;
    //overflow: hidden;
  }
}